<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BookIcon</key>
		<string>07</string>
		<key>BookName</key>
		<string>平凡的世界</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>02.jpg</string>
		<key>BookName</key>
		<string>活着</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>03</string>
		<key>BookName</key>
		<string>穆斯林的葬礼</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>04</string>
		<key>BookName</key>
		<string>狼图腾</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>05</string>
		<key>BookName</key>
		<string>围城</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>06</string>
		<key>BookName</key>
		<string>白夜行</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>02</string>
		<key>BookName</key>
		<string>边城</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>07</string>
		<key>BookName</key>
		<string>三体</string>
	</dict>
	<dict>
		<key>BookIcon</key>
		<string>06</string>
		<key>BookName</key>
		<string>北极村童话</string>
	</dict>
</array>
</plist>
