<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>哈哈哈</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>哈哈哈哈哈哈哈</string>
			</dict>
			<dict>
				<key>name</key>
				<string>天天</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>我是天天</string>
			</dict>
			<dict>
				<key>name</key>
				<string>慧慧</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>慧慧慧慧</string>
			</dict>
			<dict>
				<key>name</key>
				<string>茜茜</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>啊阿尔个人吧</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>我的好友</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>小学</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>初中</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>高中</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>大学</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>工作</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>测试名字名字名字</string>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>测试个性签名</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>家人</string>
	</dict>
</array>
</plist>
